<div class="app__left" :class="{ active }">
    <ul>
        <li><a href="/" <% if (active == 'main') { %>class="active" <% } %>>Main page</a></li>
        <li><a href="/about" <% if (active == 'about') { %>class="active" <% } %>>About page</a></li>
        <li><a href="/sysinfo" <% if (active == 'sysinfo') { %>class="active" <% } %>>Sysinfo page</a></li>
    </ul>
</div>