<div class="app__left" :class="{ active }">
    <div class="app__left_navbar">
        <ul>
            <li <% if (page_id == 'main') { %>class="active" <% } %>>
                <div class="app__left_navbar__item">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                    <a href="/">Главная страница</a>
                </div>
            </li>
            <li <% if (page_id == 'sysinfo') { %>class="active" <% } %>>
                <div class="app__left_navbar__item">
                    <span class="material-symbols-outlined">
                        rebase
                    </span>
                    <a href="/sysinfo">Информация о системе</a>
                </div>
            </li>
            <li <% if (page_id == 'about') { %>class="active" <% } %>>
                <div class="app__left_navbar__item">
                    <span class="material-symbols-outlined">
                        deployed_code
                    </span>
                    <a href="/about">О Mira...</a>
                </div>
            </li>
        </ul>
    </div>
</div>